src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d71e2ce6-9ed2-4154-8274-8d4ea50fa261" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="5c45fc5e-4353-44cf-915b-9b5c4b84e153" file="properties\config-${mule.env}.yaml" />
	<flow name="github-actionsFlow" doc:id="2d1415d4-fa9b-4d88-82d1-5d4a6d7fe115" >
		<http:listener doc:name="Listener" doc:id="7cece7cc-185f-4465-8610-f103da7a3079" config-ref="HTTP_Listener_config" path="/github-actions"/>
		<logger level="INFO" doc:name="Start" doc:id="92321e58-7991-494d-ac29-e3bf72858400" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    flow : &quot;Start of the flow : $(flow.name default &quot;&quot;)&quot;,&#10;    message: Mule::p('env.message'),&#10;    payload: payload,&#10;    correlationId: correlationId,&#10;    timestamp: (now() &gt;&gt; &quot;IST&quot;) as String {format: &quot;MMM-dd-YYYY hh:mm:ssa&quot;} &#10;}]"/>
		<ee:transform doc:name="Updated Payload" doc:id="8420e9f0-8a82-49dc-94c5-40bb3380b2eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Updated Payload"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="61e52f6c-6f97-4854-bc31-69385c37fc8f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    flow : &quot;End of the flow : $(flow.name default &quot;&quot;)&quot;,&#10;    message: Mule::p('env.message'),&#10;    payload: payload,&#10;    correlationId: correlationId,&#10;    timestamp: (now() &gt;&gt; &quot;IST&quot;) as String {format: &quot;MMM-dd-YYYY hh:mm:ssa&quot;} &#10;}]"/>
	</flow>
</mule>
